@import '../../../../node_modules/@angular/material/theming';

.recordings {
  display: flex;
  justify-content: center;
}

.record-button {
  display: flex;
  flex-direction: row;
  width: 200px;
  box-sizing: border-box;
}
.left-semi {
  @include mat-elevation(4);
  position: relative;
  height: 200px;
  width: 100px;
  border-radius: 100px 0 0 100px;
  background-color: red;
  transition: border-radius 0.5s, margin 0.5s, width 0.5s;
}
.right-semi {
  @include mat-elevation(4);
  position: relative;
  height: 200px;
  width: 100px;
  border-radius: 0 100px 100px 0;
  background-color: red;
  transition: border-radius 0.5s, margin 0.5s, width 0.5s;
}

.right-paused {
  width: 90px;
  border-radius: 5px;
}
.left-paused {
  width: 90px;
  border-radius: 5px;
  margin: 0 20px 0 0;
}

.time {
  font-size: 4em;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.record-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop-button-container {
  padding: 20px 0 20px 0;
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.stop-button-initial {
  height: 0px;
  width: 0px;
  border-radius: 5px;
  background-color: red;
  @include mat-elevation(4);
  transition: width 0.5s, height 0.5s;
}

.stop-button-live {
  height: 50px;
  width: 50px;
}

.paused {
  animation: flash 1s ease-in-out 1s infinite alternate
}

@keyframes flash {
  from {
    @include mat-elevation(4);
  }
  to {
    @include mat-elevation(12);
  }
}
